.user-content
  .user-content__sessions-wrapper
    .user-content__sessions-wrapper__title
      ログイン
    .user-content__sessions-wrapper__form
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-content" }) do |f|
        .email-form
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "user-email"
        .pass-form
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password", class: "password"
        .submit-form
          = f.submit "ログイン", class: "user-button"
-# = render "devise/shared/links"
