.content
  %ul.content__upr
    %li.content__upr__left
      出入り口
    %li.content__upr__ctr
      吹き抜け
    %li.content__upr__right
      出入り口
  .content__ctr
    .content__ctr__title
      据置台
    .content__ctr__table
      %ul.content__ctr__table__left-left
        - @computers.slice(0..4).each_with_index do |computer, i|
          %li.content__ctr__table__left-left__pc
            = link_to search_path(computer.id) do
              .content__ctr__table__left-left__pc__number
                = computer.pc_number
              .content__ctr__table__left-left__pc__priority
                - if computer.department.name == "第１電子システム室"
                  ES1
                - elsif computer.department.name == "第２電子システム室"
                  ES2
                - else
                  ES3
          - break if i == 4
      %ul.content__ctr__table__left-right
        - @computers.slice(5..9).each_with_index do |computer, i|
          %li.content__ctr__table__left-right__pc
            = link_to search_path(computer.id) do
              .content__ctr__table__left-right__pc__number
                = computer.pc_number
              .content__ctr__table__left-right__pc__priority
                - if computer.department.name == "第１電子システム室"
                  ES1
                - elsif computer.department.name == "第２電子システム室"
                  ES2
                - else
                  ES3
          - break if i == 4
      %ul.content__ctr__table__ctr-1-left
        - @computers.slice(10..14).each_with_index do |computer, i|
          %li.content__ctr__table__ctr-1-left__pc
            = link_to search_path(computer.id) do
              .content__ctr__table__ctr-1-left__pc__number
                = computer.pc_number
              .content__ctr__table__ctr-1-left__pc__priority
                - if computer.department.name == "第１電子システム室"
                  ES1
                - elsif computer.department.name == "第２電子システム室"
                  ES2
                - else
                  ES3
          - break if i == 4
      %ul.content__ctr__table__ctr-1-right
        - @computers.slice(15..19).each_with_index do |computer, i|
          %li.content__ctr__table__ctr-1-right__pc
            = link_to search_path(computer.id) do
              .content__ctr__table__ctr-1-right__pc__number
                = computer.pc_number
              .content__ctr__table__ctr-1-right__pc__priority
                - if computer.department.name == "第１電子システム室"
                  ES1
                - elsif computer.department.name == "第２電子システム室"
                  ES2
                - else
                  ES3
          - break if i == 4
      %ul.content__ctr__table__ctr-2-left
        - @computers.slice(20..24).each_with_index do |computer, i|
          %li.content__ctr__table__ctr-2-left__pc
            = link_to search_path(computer.id) do
              .content__ctr__table__ctr-2-left__pc__number
                = computer.pc_number
              .content__ctr__table__ctr-2-left__pc__priority
                - if computer.department.name == "第１電子システム室"
                  ES1
                - elsif computer.department.name == "第２電子システム室"
                  ES2
                - else
                  ES3
          - break if i == 4
      %ul.content__ctr__table__ctr-2-right
        - @computers.slice(25..29).each_with_index do |computer, i|
          %li.content__ctr__table__ctr-2-right__pc
            = link_to search_path(computer.id) do
              .content__ctr__table__ctr-2-right__pc__number
                = computer.pc_number
              .content__ctr__table__ctr-2-right__pc__priority
                - if computer.department.name == "第１電子システム室"
                  ES1
                - elsif computer.department.name == "第２電子システム室"
                  ES2
                - else
                  ES3
          - break if i == 4
      %ul.content__ctr__table__right
        - @computers.slice(30..34).each_with_index do |computer, i|
          %li.content__ctr__table__right__pc
            = link_to search_path(computer.id) do
              .content__ctr__table__right__pc__number
                = computer.pc_number
              .content__ctr__table__right__pc__priority
                - if computer.department.name == "第１電子システム室"
                  ES1
                - elsif computer.department.name == "第２電子システム室"
                  ES2
                - else
                  ES3
          - break if i == 4
  .content__remote
    .content__remote__title
      リモート台
    .content__remote__table
      %ul.content__remote__table__table-l
        - @computers.slice(35..44).each_with_index do |computer, i|
          %li.content__remote__table__table-l__pc
            = link_to search_path(computer.id) do
              .content__remote__table__table-l__pc__number
                = computer.pc_number
              .content__remote__table__table-l__pc__priority
                - if computer.department.name == "第１電子システム室"
                  ES1
                - elsif computer.department.name == "第２電子システム室"
                  ES2
                - else
                  ES3
          - break if i == 9
      %ul.content__remote__table__table-r
        - @computers.slice(44..53).each_with_index do |computer, i|
          %li.content__remote__table__table-r__pc
            = link_to search_path(computer.id) do
              .content__remote__table__table-r__pc__number
                = computer.pc_number
              .content__remote__table__table-r__pc__priority
                - if computer.department.name == "第１電子システム室"
                  ES1
                - elsif computer.department.name == "第２電子システム室"
                  ES2
                - else
                  ES3
          - break if i == 9