!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }/
    %title FreePcSearch
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .header
        .header__title
          = link_to root_path do
            CAD空き台検索
        %ul.header__center
          %li.header__center__dep-hp-a
            電気システム部HP
          %li.header__center__dep-hp-b
            機械システム部HP
        .header__info
          .header__info__title
            使用中PC情報
          .header__info__details
            -# AB123010を使用中です
            現在使用していません
        .header__user
          - if user_signed_in?
            = link_to "マイページ", root_path, class: "header__user__left-content"
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__user__right-content"
          - else
            = link_to "ログイン", new_user_session_path, class: "header__user__left-content"
            = link_to "新規登録", new_user_registration_path, class: "header__user__right-content"
      = yield
      .footer
        .footer__upr
          電子システム部CAD台検索
        .footer__cpy
          Copyright © 2020 Electronic System Div.